<div class="container">
  <div class="content">
    <h1 class="title is-1"><%= @feed.name %> <span class="subtitle is-3"><%= @feed.id %></span></h1>
    <%= form_for @feed, builder: BulmaFormBuilder do |f| %>
      <%= f.text_field :name %>
      <%= f.text_area :description %>
      <%= f.check_box :autodownload %>
      <%= f.collection_select :preferred_source_id, @feed.all_sources_with_disabled, :id, :url, include_blank: true %>
      <%= f.submit %>
    <% end %>
    <%= image_tag @feed.thumbnail.variant(resize: "250x250") if @feed.thumbnail.attached? %>
    <%= form_for @feed, method: :delete, builder: BulmaFormBuilder do |f| %>
      <%= f.confirmation_button(name: "Delete") %>
    <% end %>
    <h2 class="title is-2">Sources</h2>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Url</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <% @feed.all_sources_with_disabled.each do |source| %>
        <tr>
          <td>
            <%= source.id %>
          </td>
          <td>
            <%= source.name %>
          </td>
          <td>
            <%= source.source_type %>
          </td>
          <td>
            <%= link_to source.url, source.url %>
          </td>
          <td>
            <%= form_for source do |f| %>
              <% if source.disabled %>
                <%= f.hidden_field :disabled, value: false %>
                <%= f.submit "Enable", class: "button is-small is-success" %>
              <% else %>
                <%= f.hidden_field :disabled, value: true %>
                <%= f.submit "Disable", class: "button is-small is-danger" %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= form_for source, method: :delete, builder: BulmaFormBuilder do |f| %>
              <%= f.confirmation_button(name: "Delete", extra_class: "is-small") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= form_for [@feed, @feed.sources.build], builder: BulmaFormBuilder do |f| %>
      <%= f.text_field :source_type %>
      <%= f.text_field :url %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
<% content_for :react do %>
  <%= javascript_pack_tag 'feed_form' %>
<% end %>
