<div class="container">
  <div class="content">
    <h1 class="title is-1"><%= @feed.name %> <span class="subtitle is-3"><%= @feed.id %></span></h1>
    <%= form_for @feed, builder: BulmaFormBuilder do |f| %>
      <%= f.text_field :name %>
      <%= f.text_area :description %>
      <%= f.check_box :autodownload %>
      <%= f.submit %>
    <% end %>
    <h2 class="title is-2">Sources</h2>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Url</th>
        <th></th>
      </tr>
      </thead>
      <% @feed.sources.each do |source| %>
        <tr>
          <td>
            <%= source.id %>
          </td>
          <td>
            <%= source.source_type %>
          </td>
          <td>
            <%= link_to source.url, source.url %>
          </td>
          <td>
            <%= form_for source do |f| %>
              <% if source.disabled %>
                <%= f.hidden_field :disabled, value: false %>
                <%= f.submit "Enable", class: "button is-small is-success" %>
              <% else %>
                <%= f.hidden_field :disabled, value: true %>
                <%= f.submit "Disable", class: "button is-small is-danger" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
