<div class="container">
  <h1 class="title is-1">Jobs</h1>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Attempts</th>
      <th>Handler</th>
      <th>Last error</th>
      <th>Created at</th>
      <th>Run at</th>
      <th></th>
    </tr>
    </thead>
    <% @jobs.each do |job| %>
      <tr>
        <td>
          <%= job.id %>
        </td>
        <td>
          <%= job.attempts %>
        </td>
        <td>
      <pre>
        <%= job.handler %>
      </pre>
        </td>
        <td>
          <% if job.last_error %>
        <textarea class="textarea">
          <%= job.last_error %>
        </textarea>
          <% end %>
        </td>
        <td>
          <%= job.created_at %>
        </td>
        <td>
          <%= job.run_at %>
        </td>
        <td>
          <%= form_for job, method: :delete, builder: BulmaFormBuilder, url: job_path(job) do |f| %>
            <%= f.confirmation_button(name: "Delete") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<% content_for :react do %>
  <%= javascript_pack_tag 'feed_form' %>
<% end %>
