<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="/logo-small.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= action_cable_meta_tag %>
  <title><%= content_for?(:title) ? yield(:title) : "RSS Tracker" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_pack_tag 'style' %>
  <%= stylesheet_pack_tag 'style' %>
  <style>
    html, body {
      height: 100%;
    }
  </style>
</head>
<body>
<%= yield %>
</body>
</html>
